In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
start_data = pd.read_excel('data_with_point.xlsx')

In [3]:
mas_of_letters = []
for row in start_data.iterrows():
    if row[1][8] == 'Т':
        mas_of_letters.append(1)
    elif row[1][8] == 'С':
        mas_of_letters.append(2)
    else:
        mas_of_letters.append(3)
data_with_normal_letters = pd.DataFrame({'A':start_data['A'],
              'B':start_data['B'],
              'C':start_data['C'],
              'D':start_data['D'],
              'E':start_data['E'],
              'F':start_data['F'],
              'G':start_data['G'],
              'H':start_data['H'],
              'J':start_data['J'],
              'Points': start_data['Points'],
                'Letter_like_number':mas_of_letters})
data_with_normal_letters

       A   B   C     D  E  F   G   H  J     Points  Letter_like_number
0     55  16  84  0.98  3  6  91   8  С  68.846154                   2
1     81   5  71  0.81  2  1  98  43  С  89.615385                   2
2     99  28  48  0.81  3  0  41  12  С  73.461538                   2
3     61  13  23  0.70  2  1  84  87  С  68.846154                   2
4     95  17  81  0.10  5  3  83  21  С  72.307692                   2
...   ..  ..  ..   ... .. ..  ..  .. ..        ...                 ...
1994  65  13  36  0.30  8  0  70  85  Т  65.384615                   1
1995  57   8  54  0.44  6  2  58  22  Т  66.538462                   1
1996  12  29  89  0.68  4  7  56  79  Т  65.384615                   1
1997  99  15  45  0.88  4  0  76  59  Т  76.923077                   1
1998  75  13  99  0.64  7  4  93  63  Т  71.153846                   1

[1999 rows x 11 columns]

In [4]:
target = start_data['Points']
features = start_data.drop(['Points', 'J'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=10)

In [5]:
regr = LinearRegression()
regr.fit(X_train, y_train)
print('Training data r-squared:',regr.score(X_train, y_train))
print('Test data r-squared:', regr.score(X_test, y_test))

print('Intercept', regr.intercept_)
pd.DataFrame(data=regr.coef_,index =X_train.columns,columns=['predict_points'])

Training data r-squared: 0.7049140291931559
Test data r-squared: 0.7137555139909548
Intercept 61.658238117261746

   predict_points
A        0.149790
B       -0.307414
C        0.067772
D        5.911004
E       -0.558370
F       -0.241603
G       -0.000896
H        0.026100